@mixin button-size {
    width: 25%;
}

@mixin button-row2 {
    position: relative;
    bottom: 30px;
    right: 73px;
}

@mixin button-row3 {
    position: relative;
    left: 37px;
}

@mixin button-row4 {
    position: relative;
    top: 60px;
}

@mixin button-row5 {
    position: relative;
    top: 30px;
    right: 36px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 918px;
    width: 100%;

    &__display {
        height: 10%;
        width: 25%;
        text-align: right;
        position: relative;
        bottom: 10%;
        left: 25%;
        border: 2px solid transparent;
    }

    &__keypad {
        width: 25%;
        position: relative;
        top: 5%;
        border: 2px solid transparent;
    }

    &__button {
        &__clear-key {
            @include button-size;
        }

        &__negative-key {
            @include button-size;
        }
        
        &__percentage-key {
            @include button-size;
        }

        &__key-1 {
            @include button-size;
            @include button-row4;
        }

        &__key-2 {
            @include button-size;
            @include button-row4;
        }

        &__key-3 {
            @include button-size;
            @include button-row4;
        }

        &__key-4 {
            @include button-size;
            position: relative;
            top: 30px;
            right: 110px;
        }

        &__key-5 {
            @include button-size;
            @include button-row3;
        }

        &__key-6 {
            @include button-size;
            @include button-row3;
        }

        &__key-7 {
            @include button-size;
            @include button-row2;
        }

        &__key-8 {
            @include button-size;
            @include button-row2;
        }

        &__key-9 {
            @include button-size;
            position: relative;
            bottom: 60px;
            left: 74px;
        }

        &__key-0 {
            width: 50%;
            @include button-row5;
        }

        &__key-dot {
            @include button-size;
            @include button-row5;
        }

        &__division-key {
            @include button-size;
            position: relative;
            bottom: 120px;
            left: 110px;
        }

        &__multiplication-key {
            @include button-size;
            position: relative;
            bottom: 90px;
            left: 74px;
        }

        &__subtraction-key {
            @include button-size;
            position: relative;
            bottom: 60px;
            left: 37px;
        }

        &__addition-key {
            @include button-size;
            position: relative;
            bottom: 30px;
        }

        &__equals-key {
            @include button-size;
            position: relative;
            left: 111px;
            bottom: 30px;
        }
    }
}