@mixin button-size {
    width: 37.5px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 918px;
    width: 100%;
    position: relative;
    right: 80px;

    &__display {
        height: 5%;
        width: 153px;
        text-align: right;
        position: relative;
        bottom: 7.3%;
        left: 153px;
        border: 2px solid red;
    }

    &__keypad {
        height: 154px;
        width: 153px;
        position: relative;
        top: 3.3%;
        border: 2px solid red;
    }

    &__button {
        &__clear-key {
            @include button-size;
        }

        &__negative-key {
            @include button-size;
        }

        &__percentage-key {
            @include button-size;
        }

        &__key-1 {
            @include button-size;
        }

        &__key-2 {
            @include button-size;
        }

        &__key-3 {
            @include button-size;
        }

        &__key-4 {
            @include button-size;
        }

        &__key-5 {
            @include button-size;
        }

        &__key-6 {
            @include button-size;
        }

        &__key-7 {
            @include button-size;
        }

        &__key-8 {
            @include button-size;
        }

        &__key-9 {
            @include button-size;
        }

        &__key-0 {
            width: 75px;
        }

        &__key-dot {
            @include button-size;
        }

        &__division-key {
            @include button-size;
            position: relative;
            bottom: 150px;
            left: 112.5px;
        }

        &__multiplication-key {
            @include button-size;
            position: relative;
            left: 75px;
            bottom: 120px;
        }

        &__subtraction-key {
            @include button-size;
            position: relative;
            bottom: 90px;
            left: 37.5px
        }

        &__addition-key {
            @include button-size;
            position: relative;
            bottom: 90px;
            left: 112.5px;
        }

        &__equals-key {
            @include button-size;
            position: relative;
            bottom: 60px;
            left: 75px;
        }
    }
}